* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "inter";
}

.container {
  padding: 0 2rem;
}

header {
  background-color: #21222A;
  color: white;
  padding: 1rem 0;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo .img {
  width: 40px;
  margin-right: 0.5rem;
}

.logo .logo-Name {
  color: #61DAFB;
}

.content {
  padding: 1rem;
  padding-left: 0;
  background-color: #282D35;
  color: white;
  height: 100vh;
}

.content .fact {
  margin: 2rem 0;
}

.content .list {
  list-style: none;
}

.content .list li {
  margin: 1.5rem;
  position: relative;
}

.content .list li::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  top: 7px;
  left: -25px;
  background-color: #61DAFB;
  border-radius: 50%;
}

.content .bg {
  position: absolute;
  right: 0;
  top: 20%;
}